aws_region    = "ap-south-1"
env           = "prod"
project       = "zenith-estate"
domain        = "zenithestate.in"
vpc_cidr      = "10.0.0.0/16"
db_name       = "zenith_estate"
db_username   = "zenith_user"
db_password   = "CHANGE_ME_STRONG_PASSWORD"
jwt_secret    = "CHANGE_ME_RANDOM_JWT_SECRET_MIN_64_CHARS"
acm_cert_arn  = "arn:aws:acm:us-east-1:ACCOUNT_ID:certificate/CERT_ID"
cdn_domain    = "cdn.zenithestate.in"
admin_domain  = "admin.zenithestate.in"
key_pair_name = "zenith-estate-key"
